.greenfoPage {
  display: flex;
  height: calc(100vh - 100px);
  background-image: url("/assets/imgFeuille.jpg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
  }
}

// ! Responsivness
@media all and (max-width: 1100px) {
  .greenfoPage {
    height: calc(100vh - 100px);
    &__grid {
      height: 100%;
      transform: scale(0.7);
    }
  }
}

@media all and (max-width: 800px) {
  .greenfoPage {
    &__grid {
      transform: scale(0.4);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
